@mixin allcenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../../image/bg/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content {
    height: auto;
    left: 50px;
    width: calc(100% - 100px);
}

.classification_container {
    height: 100%;
    display: flex;
    .theme_menu {
        border-right: 1px solid #3E3C3C;
        width: 20%;
        background-color: white;
        .theme_menu_title {
            @include allcenter();
            color: #BABABA;
            background-color: #3E3C3C;
            height: 2.5em;
            margin-bottom: 0.3em;
            overflow: auto;
        }
        .themename {
            @include allcenter();
            cursor: pointer;
            height: 2.5em;
            border-radius: 10px;
            margin-bottom: 0.3em;
            &:nth-child(odd) {
                background: #EAEAEA;
            }
            &:nth-child(even) {
                background: #F7F7F7;
            }
        }
    }
    .classifications {
        border-left: 1px solid #3E3C3C;
        width: 100%;
        background-color: #F7F7F7;
        overflow: auto;
        .classifications_title {
            height: 7%;
            display: flex;
            overflow-x: auto;
            .ThemePageTitle {
                @include allcenter();
                height: 100%;
                min-width: 8em;
                border-top: 1px solid;
                border-right: 1px solid;
                border-top-right-radius: 0.9em;
            }
        }
        .classifications_content {
            height: 93%;
            .classifications_content_page {
                height: 100%;
                width: 100%;
                background-color: #FFFCD7;
            }
        }
    }
}

.expand-transition {
    transition: all .3s ease;
    height: 30px;
    padding: 10px;
    background-color: red;
    overflow: hidden;
}

.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0;
}