body {
  background-image: url("../../image/bg/bg5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.cursor {
  cursor: pointer; }

.content {
  height: auto; }
  .content .themeTitle {
    height: 3em;
    width: 100%;
    background-color: #41A99D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E2F2F0; }

.classification_container {
  display: flex; }
  .classification_container .theme_menu {
    width: 20%;
    height: 30em;
    background-color: white;
    overflow: auto; }
    .classification_container .theme_menu .theme_menu_title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #BABABA;
      background-color: #3E3C3C;
      height: 2.5em;
      overflow: auto; }
    .classification_container .theme_menu .themename {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
      height: 2.5em;
      border-bottom: 1px solid #C4C4C4;
      background-color: white; }
      .classification_container .theme_menu .themename:hover {
        background-color: #52BCA0;
        color: white; }
      .classification_container .theme_menu .themename .themePaggingNamme {
        margin-right: 1em; }
  .classification_container .classifications {
    border-left: 1.5px solid rgba(189, 189, 189, 0.5);
    width: 100%;
    background-color: white; }
    .classification_container .classifications .classifications_title {
      height: 2.7em;
      display: flex;
      border-bottom: 2px solid #BABABA; }
      .classification_container .classifications .classifications_title .ThemePageTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.7em;
        width: 6.38em;
        border-right: 2px solid #BABABA; }
    .classification_container .classifications .classification_btn_group {
      padding: 0.5em 1em; }
      .classification_container .classifications .classification_btn_group .classification_btn {
        height: 2em;
        width: 6em;
        background-color: #3E3C3C;
        color: #BABABA;
        border: 2px solid #BABABA;
        border-radius: 10px; }
    .classification_container .classifications .classifications_content {
      overflow: auto; }
      .classification_container .classifications .classifications_content .classifications_content_page {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: white; }
        .classification_container .classifications .classifications_content .classifications_content_page .level {
          transition: 0.5s;
          min-height: 2em;
          height: auto;
          width: 12.5%;
          display: flex;
          flex-direction: column;
          margin: 0.3rem 0 0.3rem 0.6%; }
          .classification_container .classifications .classifications_content .classifications_content_page .level:nth-child(odd) {
            background-color: white; }
          .classification_container .classifications .classifications_content .classifications_content_page .level:nth-child(even) {
            background-color: white; }
          .classification_container .classifications .classifications_content .classifications_content_page .level:hover {
            background-color: rgba(189, 189, 189, 0.3); }
          .classification_container .classifications .classifications_content .classifications_content_page .level .preLevel {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 2em;
            height: 100%;
            width: 100%;
            font-weight: bold; }
          .classification_container .classifications .classifications_content .classifications_content_page .level .childLevelContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 2.1em;
            padding: 0.5rem 0;
            height: auto;
            width: 100%; }
            .classification_container .classifications .classifications_content .classifications_content_page .level .childLevelContainer .childLevel .cls_name {
              height: 1.8em;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 1em;
              font-weight: bold;
              margin-left: 0.1em; }
            .classification_container .classifications .classifications_content .classifications_content_page .level .childLevelContainer .childLevel {
              border-radius: 4.5px;
              height: 1.8em;
              width: 100%;
              margin-right: 0.1em;
              margin-top: 0.1em;
              background-color: white;
              border: 3px solid #52BCA0; }
              .classification_container .classifications .classifications_content .classifications_content_page .level .childLevelContainer .childLevel:hover {
                background-color: #52BCA0; }
            .classification_container .classifications .classifications_content .classifications_content_page .level .childLevelContainer .childLevel-img {
              background-color: rgba(0, 0, 0, 0);
              display: flex;
              align-items: center;
              border: 1px solid red; }

.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: red;
  overflow: hidden; }

.expand-enter,
.expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0; }

img.themePaggingAdd {
  display: block;
  height: 1.1em;
  width: 1.1em; }

img.levelAdd {
  height: 2.1em;
  width: 2.1em; }

img.themes_bookmark_cancel {
  height: 0.8em;
  width: 0.8em;
  margin-left: 1em;
  cursor: pointer; }

img.child_classification_delete {
  height: 0.8em;
  width: 0.8em;
  cursor: pointer; }

img.classification_btn {
  height: 1.8em;
  width: 1.8em;
  margin-right: 0.6em;
  cursor: pointer; }

.bookmark_color_orgin {
  background-color: #52BCA0;
  color: white; }

.bookmark_color {
  background-color: white;
  border-bottom: 2px solid white; }

img.icon_add {
  margin-right: 0.7em;
  height: 2.2em;
  width: 2.2em;
  padding: 0;
  border: 2px solid #52BCA0;
  transition: all 0.5s;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  background-image: url("../../image/icon/add-web-page.png");
  background-color: white;
  border-radius: 50%; }
  img.icon_add:hover {
    background-image: url("../../image/icon/add-web-page-w.png");
    background-color: #52BCA0; }

img.icon_delete {
  height: 2.2em;
  width: 2.2em;
  padding: 0;
  border: 2px solid #ED8889;
  transition: all 0.5s;
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  background-image: url("../../image/icon/rubbish-bin.png");
  background-color: white;
  border-radius: 50%; }
  img.icon_delete:hover {
    background-image: url("../../image/icon/rubbish-bin-w.png");
    background-color: #ED8889; }

/*# sourceMappingURL=classification_manage_css.css.map */
