@mixin size($h:auto, $w:auto) {
    height: $h;
    width: $w;
}

@mixin vertical_centering() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    background-color: rgba(38, 38, 38, 0.5);
    z-index: 3;
}

body {
    background-image: url('../../image/bg/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
}

.content {
    @include size(auto,
    100%);
    @include vertical_centering();
    justify-content: center;
    color: white;
}