@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    position: relative;
    box-sizing: border-box;
    font-family: 'Microsoft JhengHei', 'DFKai-sb', 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    a {
        text-decoration: none !important;
    }
}

button {
    cursor: pointer;
}

//-- define variable------------------------
$text_color: #c5c5c5;
//--Mixin-----------------------------------
@mixin flex_align_center() {
    display: flex;
    align-items: center;
}

@mixin flex_justify_center() {
    display: flex;
    justify-content: center;
}

@mixin vertical_centering() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin Center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin size($h:auto,
$w:auto) {
    height: $h;
    width: $w;
}

html {
    min-height: 100% !important;
    @include size(100%,
    100%);
}

body {
    min-height: 100% !important;
    @include size(100%,
    100%);
    // overflow: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 55px;
    border-bottom: 1px solid white;
    background-color: #F4F7F6;
    width: 100%;
}

.menu {
    @include size(100%,
    100%);
    display: flex;
    justify-content: space-between;
    color: white;
    border-top: 1px solid #E6EAEA;
    border-bottom: 1px solid #E6EAEA;
}

.menu_click {
    @include flex_align_center();
    cursor: pointer;
    border-right: 1px solid #E6EAEA;
    padding: 0 1em;
}

.menuName {
    color: #828383;
}

.kmsTitle {
    @include Center();
    color: #202121;
    letter-spacing: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

.btn-group {
    margin-right: 1%;
}

.user-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #828383;
    cursor: pointer;
    &:hover {
        background: none;
        color: black;
    }
    &:active {
        border: none;
    }
}

.btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    color: black;
    background-color: rgba(255, 255, 255, 0);
}

.Logout_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

//-- side bar section -----------------------
.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1;
}

.side_bar {
    @include size(100%,
    400px);
    position: absolute;
    left: -400px;
    top: 0px;
    background-color: #F1F1F1;
    z-index: 3;
}

.cancel {
    $padding-right: 1em;
    @include size(4.1em,
    100%);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    .close-btn {
        padding-right: $padding-right;
    }
    .close-img {
        padding-right: $padding-right;
    }
}

.form {
    @include size(auto,
    100%);
}

.collapse_title {
    @include size(4.1em,
    100%);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 3%;
    color: #202121;
    font-weight: bold;
    background-color: #F1F1F1;
    transition: color, background-color 0.5s;
    &:hover {
        background-color: white;
        color: #3E3C3C;
    }
    .manage_father {
        margin-right: 1.3em;
    }
}

.button_group {
    @include vertical_centering();
    margin-top: 10%;
}

.log_in,
.sign_up {
    @include size(auto,
    80%);
    margin-top: 10%;
}

.btn_log_in {
    @include size(53px,
    100%);
    background-color: #4DBEA0;
    color: white;
    word-spacing: 10px;
    letter-spacing: 3px;
    &:hover {
        cursor: pointer;
        font-size: 18px;
    }
}

.btn_sign_up {
    @include size(53px,
    100%);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid $text_color;
    color: $text_color;
    word-spacing: 10px;
    letter-spacing: 3px;
    &:hover {
        cursor: pointer;
        font-size: 18px;
    }
}

.manage_title {
    @include size(2.3em,
    100%);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c5c5c5;
    background-color: #4DBEA0;
    color: white;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: black;
        .manage_child {
            margin-left: 0.5em;
        }
    }
    .manage_child {
        margin-left: 1.5em;
        transition: margin-left 0.8s;
    }
}

//-- center content-----------------------------
p {
    font-size: 27px;
    margin-top: -50px;
}

.bottom_line {
    border-bottom: 1px solid white;
    width: 20%;
}

//---All image----------------------------------
img.menu_img {
    @include size(1.2em,
    1.2em);
    display: block;
}

img.cancel_img {
    @include size(20px,
    20px);
}

img.chevron,
img.chevron-sign-to-right {
    display: block;
    @include size(20px,
    20px);
}

img.chevron-sign-to-right {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

//---Input--------------------------------------
.form input[type=text],
.form input[type=password] {
    border: none;
    border-bottom: 1px solid #E9E9E9;
    height: 56px;
    &::placeholder {
        color: #c5c5c5;
        font-size: 20px;
    }
    &:focus {
        border-bottom-color: #009FCC;
    }
}

//-- Modal---------------------------------------
.sign_input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        border: none;
        border-bottom: 1px solid #E9E9E9;
        width: 100%;
        &::placeholder {
            color: #c5c5c5;
            font-size: 20px;
        }
        &:focus {
            outline: none;
            border-bottom-color: #009FCC;
        }
    }
    div {
        margin-bottom: 8%;
    }
    label {
        font-weight: bold;
    }
    form {
        width: 90%;
    }
    .text-muted {
        display: none;
    }
}

//-- RWD ----------------------------------------
@media (min-width: 640px) {
    p {
        font-size: 35px;
    }
}

@media (min-width: 1024px) {
    p {
        font-size: 55px;
    }
}

@media (min-width: 1280px) {
    body {
        background-size: 100% auto;
    }
}