@mixin size($h:auto, $w:auto) {
    height: $h;
    width: $w;
}

@mixin allCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    position: relative;
}

body {
    background-image: url('../../image/bg/bg5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: auto;
}

header {
    border: none;
}

.content {
    height: auto;
    // left: 50px;
    // width: calc(100% - 100px);
    overflow: auto;
    .themeTitle {
        @include size(3em,
        100%);
        background-color: #41A99D;
        @include allCenter();
        color: #E2F2F0;
    }
    .modal-body {
        .theme_group_container {
            .theme_group_inputName {
                display: flex;
                margin-bottom: 1em;
                #group_name {
                    overflow: hidden;
                }
            }
            .theme_group_selecter_container {
                display: flex;
                flex-wrap: wrap;
                height: auto;
                max-height: 500px;
                overflow: auto;
                .theme_group_selecter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include size(1.8em,
                    6.5em);
                    border: 1px solid #41A99D;
                    border-radius: 4.5px;
                    margin-right: 0.1em;
                    margin-bottom: 0.1em;
                    cursor: pointer;
                    &:hover {
                        background-color: #41A99D;
                    }
                }
            }
        }
    }
}

.tab-pane {
    background-color: #F7F7F7;
    height: 100%; // border: 1px solid green;
}

.nav-item {
    background-color: rgb(166, 161, 161);
    color: black;
}

.NewTheme {
    display: flex;
    padding: 0.3em 0 0.3em 0.3em;
    background-color: #3E3C3C;
    margin-bottom: 0.3em;
}

.NewAdd {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ThemeContainer {
    // border: 1px solid yellow;
    overflow: auto;
    padding: 0.15em 0.9em;
    select {
        background-color: white;
    }
    .appear_option_and_search_section,
    .pagination_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;
    }
    .theme_container {
        position: relative;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        @include size(85%,
        100%);
        max-height: auto;
        .theme_square {
            @include size(25%,
            15%);
            @include allCenter();
            flex-direction: column;
            margin: 1% 0.8%;
            border: 1.5px solid rgba(189, 189, 189, 0.5);
            border-radius: 10%;
            transition: all 0.3s;
            &:hover {
                box-shadow: 0px 1px 1px 1px rgba(20%, 20%, 40%, 0.3), -1px -1px 1px 1px rgba(20%, 20%, 40%, 0.1);
                background-color: rgba(82, 188, 160, 0.7);
                color: white;
            }
            .theme_square_fnc {
                @include size(auto,
                100%);
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                padding-right: 0.5em;
            }
            .theme_square_name {
                font-size: 2em;
            }
        }
    }
}

.btn_theme_create,
.delete_theme_group {
    height: 2.5em;
    font-size: 1em;
    font-family: 'DFKai-sb', 'Open Sans', sans-serif;
    background-color: #3E3C3C;
    color: #BABABA;
    border: 2px solid #BABABA;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1), 0 2px 8px 0 rgba(0, 0, 0, .2);
        background-color: #1F1E1E;
    }
}

img.addTheme_img {
    @include size(2.3em,
    2.3em);
    display: block;
}

select {
    background-color: #41A99D;
    border: 0;
    cursor: pointer;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

option {
    background-color: white;
    &:hover {
        background-color: red;
    }
}

table {
    width: 100%;
    border: 1px solid #EBEDEF;
    tr {
        &:nth-child(odd) {
            background-color: #eceeef;
        }
    }
    th {
        background-color: #F7F7F7;
    }
    td,
    th {
        border: 1px solid #eceeef;
        padding: .75rem;
    }
}

//arrange style
.sorting_style:before {
    right: 1em;
    content: "\2191";
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.sorting_style:after {
    right: 0.5em;
    content: "\2193";
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.sorting_asc:before {
    opacity: 1;
}

.sorting_desc:after {
    opacity: 1;
}

// #ThemeTable_paginate {
//     display: none;
// }
//-- RWD ----------------------------------------
@media (min-width: 800px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}